version: "3.9"

services:
  web:
    build: .
    command: gunicorn backend.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: trilex_db
      POSTGRES_USER: trilex_user
      POSTGRES_PASSWORD: trilex_password

volumes:
  postgres_data:
